#lasso {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#lasso polygon {
  stroke: #6c7fe9ad;
  stroke-dasharray: 10 5;
  stroke-width: 2;
  fill: rgb(144 161 255 / 21%);
  z-index: 5;
  animation: dash linear 1s infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 15;
  }
}
